body,
html {
    height: 100%;
    width: 100%;
    margin: 0;
}

.box {
    position: relative;
    display: flex;
    margin: 40px;
    justify-content: center;
    border-radius: 25px;
    background: linear-gradient(135deg, #2D1674, #9271C2);
}

.box::before {
    background: linear-gradient(135deg, #2D1674, #9271C2);
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    filter: blur(25px);
    transform: translateY(30px) scale(0.9);
}

.settings {
    width: 100px;
    cursor: pointer;
}